
svg{
    width: 1rem;
    height: 1rem;
    color: #fff;
}

.contact-name img {
    max-width: 250px;
    height: auto;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.form-search-contact .btn svg{
    width: 1.2rem;
    height: 1.1rem;
    color: #ffff;
}

.messages-alert {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 30%;
    text-align: center;
    width: 40%;
}
.action-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.image-profile {
    width: 300px;
    height: 270px;
    object-fit: cover;
}