<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="exampleModalToggleLabel">Editar Contato</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'agenda:update' contact.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <p class="text-muted lead">
                        obs: os campos marcados com <span class="text-danger">*</span> são obrigatórios.
                    </p>
                    <div class="row">
                        <div class="col">
                            <label for="{{ form.first_name.id_for_label }}" class="form-label text-primary">
                                Nome<span class="text-danger">*</span>
                            </label>
                            {{ form.first_name }}
                            <small class="text-danger">{{ form.first_name.errors.as_text }}</small>
                        </div>
                        <div class="col">
                            <label for="{{ form.last_name.id_for_label }}" class="form-label text-primary">
                                Sobrenome
                            </label>
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.telephone.id_for_label }}" class="form-label text-primary">
                            Telefone<span class="text-danger">*</span>
                        </label>
                        {{ form.telephone }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}" class="form-label text-primary">
                            Endereço de Email
                        </label>
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.category.id_for_label }}" class="form-label text-primary">
                            Categoria
                        </label>
                        {{ form.category }}
                        <small class="text-danger">{{ forms.category.errors.as_text }}</small>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.description.id_for_label }}" class="form-label text-primary">
                            Descrição
                        </label>
                        {{ form.description }}
                        <small class="text-danger">{{ forms.description.errors.as_text }}</small>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.profile_picture.id_for_label }}" class="form-label text-primary">
                           Imagem de perfil
                        </label>
                        {{ form.profile_picture }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger bg-gradiente shadow" data-bs-dismiss="modal">Abandonar</button>
                    <button type="submit" class="btn btn-success bg-gradiente shadow" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
